.team-wrapper {
  margin: 20px 0;
  .team-dropdown {
    .team-dropdown-btn {
      display: block;
      cursor: pointer;
      font-size: 14px;
      color: black;
      padding: 10px 20px;
      background-color: #39cccc;
      font-family: inherit;
      margin: 0;
      .team-name {
        position: relative;
        text-align: left;
        font-weight: bold;
        span {
          margin-left: 5px;
          font-size: 12px;
          font-weight: lighter;
        }
        &:after {
          position: absolute;
          top: -2px;
          right: 0;
          content: '';
          display: block;
          width: 40px;
          height: 30px;
          background: url('../../assets/icons/arrow.svg') center center
            no-repeat;
        }
      }
      .team-dropdown-content {
        position: relative;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.8s linear;
        height: 0;
        text-align: left;
        .show-games-btn {
          position: absolute;
          top: -20%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          cursor: pointer;
          border: none;
          outline: none;
          width: 120px;
          padding: 10px 0;
          background: transparentize(white, 0.8);
          color: #252525;
          font-weight: bold;
          transition: background 0.2s ease-in-out;
          &:hover {
            background: #39cccc;
            border-bottom: 1px solid #eeeeee;
          }
        }
        .content {
          p {
            font-size: 12px;
            line-height: 20px;
            border-bottom: 1px solid #252525;
            span {
              font-weight: bold;
            }
          }
        }
      }
      &:hover {
        .team-dropdown-content {
          visibility: visible;
          opacity: 1;
          height: auto;
          .content {
            margin-top: 50px;
          }
        }
      }
    }

    .active {
      display: block;
    }
  }
}

.load-more-btn {
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  margin: 40px 0 10px 0;
  border-radius: 5px;
  background: #eeeeee;
  transition: background 0.2s ease-in-out;
  color: black;
  font-size: 14px;
  font-weight: bold;
  &:hover {
    background: #aaaaaa;
  }
}

.games-by-team {
  display: none;
  margin-top: 100px;
  width: 100%;
  height: 300px;
  color: black;
  font-size: 16px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  font-weight: bold;
  overflow-y: scroll;
  .game-card-wrapper {
    display: inline-block;
    margin: 10px 0;
    padding: 0 5px;
    width: 45%;
    .teams {
      display: flex;
      justify-content: center;
      border-bottom: 2px solid black;
      .vs {
        font-weight: lighter;
        padding-top: 13px;
        font-size: 10px;
      }
      .value {
        margin: 10px;
      }
    }
  }
}
.show {
  display: block;
}
