.App {
  background: #dddddd;
  min-height: 100vh;
  text-align: center;
}

.container {
  padding: 50px 0;
}

.main-title{
  margin-bottom: 40px;
  border-bottom: 2px solid #aaaaaa;
  h2{
    color: #252525;
    margin: 0 0 10px;
  }
}

.detail {
  font-size: 12px;
  font-weight: lighter;
}

.teams {
  margin-right: 10px;
  h5 {
    margin-bottom: 0;
  }
}
.players,
.games {
  position: relative;
  height: 550px;
  width: 400px;
  margin-left: 10px;
  margin-bottom: 50px;
  h5 {
    margin-bottom: 0;
  }
}

